<html>
	<head>
	</head>
	<body>
			<link rel="stylesheet" href="tab.css">
			<script src="tab.js"></script>

			<div class="tab">
			  <button class="tablinks" onclick="openCity(event, 'London')">USA</button>
			  <button class="tablinks" onclick="openCity(event, 'Paris')">Australia</button>
			  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Russia</button>
			</div>

			<!-- Tab content -->
			<div id="London" class="tabcontent">
			  <h3>USA</h3>
			  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359294.213879205!2d-113.71754000532057!3d36.24708982631333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sStati+Uniti!5e0!3m2!1sit!2sit!4v1542011074384" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
			</div>

			<div id="Paris" class="tabcontent">
			  <h3>Australia</h3>
			  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29625025.212363303!2d115.19688399233242!3d-24.988693437425255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sit!2sit!4v1542011465222" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p> 
			</div>

			<div id="Tokyo" class="tabcontent">
			  <h3>Russia</h3>
			  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42199974.070938885!2d68.757842366179!3d49.79204455644542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2sRussia!5e0!3m2!1sit!2sit!4v1542011111759" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
			</div>
	</body>
</html>